ibm_sl_username="replace-with-your-softlayer-api-username"
ibm_sl_api_key="replace-with-your-softlayer-api-key"
datacenter = "sng01"                #use one of SoftLayer Datacenter code
ssh_key_name = "sl-key"             #name of ssh key to be created in SoftLayer
ssh_user = "root"                   #OS username
icpadmin_password = "your-password" #ICP admin password
icp_version = "2.1.0.1"             #ICP Version
domain = "icp.demo"                 #OS Domain
os_reference = "UBUNTU_16_64"       #OS Reference Code from SoftLayer
instance_prefix = "icp"             #Instance Prefix
network_cidr = "172.16.0.0/16"      #ICP Network CIDR
cluster_ip_range = "192.168.0.1/24" #ICP Cluster IP Range
cluster_name = "sgdemo"             #ICP Cluster Name
install_gluster = true              #Install Gluster Flag
master = {
    nodes       = "1"               #Number of Master Node. Minimum: 1, Maximum: 1 for ICP Community edition
    name        = "master"
    cpu_cores   = "8"
    disk_size   = "25"              #OS Disk size in GB. Recommended to keep default value 25 GB
    kubelet_lv  = "10"              #Size of Kubelet volume
    docker_lv   = "50"              #Size of Docker volume
    etcd_lv     = "4"               #Size of etcd volume
    registry_lv = "15"              #Size of registry volume
    management_lv = "20"            #Size of Management volume
    local_disk  = false
    memory      = "8192"
    network_speed = "1000"
    private_network_only = false
    hourly_billing = true
}
proxy = {
    nodes       = "0"               #Number of Proxy Node. Minimum: 0 Maximum: 1
    name        = "proxy"
    cpu_cores   = "4"
    disk_size   = "25"
    kubelet_lv  = "10"
    docker_lv   = "39"
    local_disk  = false
    memory      = "4096"
    network_speed = "1000"
    private_network_only = false
    hourly_billing = true
}
management = {
    nodes       = "1"               #Number of Management Node. Minimum: 0 Maximum: 1
    name        = "mgmt"
    cpu_cores   = "8"
    disk_size   = "25"
    kubelet_lv  = "10"
    docker_lv   = "40"
    management_lv = "49"            #Size of Management volume
    local_disk  = false
    memory      = "8192"
    network_speed = "1000"
    private_network_only = false
    hourly_billing = true
}
worker = {
    nodes       = "3"               #Number of Worker Node. Minimum: 1 Recommended: 3
    name        = "worker"
    cpu_cores   = "8"
    disk_size   = "25"
    kubelet_lv  = "10"
    docker_lv   = "89"
    glusterfs   = "100"             #Additional GlusterFS Volume (optional)
    local_disk  = false
    memory      = "8192"
    network_speed = "1000"
    private_network_only = false
    hourly_billing = true
}
gluster = {
    nodes       = "0"
    name        = "gluster"
    cpu_cores   = "2"
    disk_size   = "25"
    glusterfs   = "100"
    local_disk  = false
    memory      = "2048"
    network_speed = "1000"
    private_network_only = false
    hourly_billing = true
}