ibm_sl_username="replace-with-your-softlayer-api-username"
ibm_sl_api_key="replace-with-your-softlayer-api-key"
datacenter = "sng01"                #use one of SoftLayer Datacenter code
ssh_key_name = "sl-key"             #name of ssh key to be created in SoftLayer
ssh_user = "root"                   #OS username
icpadmin_password = "your-password" #ICP admin password
icp_version = "3.1.1"               #ICP Version. Samples: 2.1.0.3, 2.1.0.3-ee, ibmcom/icp-inception-amd64:3.1.0-ee
domain = "icp.demo"                 #OS Domain
os_reference = "UBUNTU_16_64"       #OS Reference Code from SoftLayer: UBUNTU_16_64 or REDHAT_7_64
instance_prefix = "icp"             #Instance Prefix
network_cidr = "172.16.0.0/16"      #ICP Network CIDR
cluster_ip_range = "192.168.0.1/24" #ICP Cluster IP Range
cluster_name = "sgdemo"             #ICP Cluster Name
install_gluster = true              #Install Gluster Flag
gluster_volume_type = "none"        #Gluster Volume Type. Sample: none, replicate:3, disperse:4:2
heketi_admin_pwd = "your-password"  #Heketi API admin password
disable_management = ["istio", "custom-metrics-adapter"] #Default Disabled management component v2.1.0.3
management_services = {             #Default Disabled management component v3.1.0
  istio = "disabled"
  vulnerability-advisor = "disabled"
  storage-glusterfs = "disabled"
  storage-minio = "disabled"
}
calico_network = {
  ipip_enabled  = "Always"          #ICP 3.1.1 true/false , ICP 3.1.2 Always/Never
  interface     = "interface=eth0"  #Network Interface for Calico. Use one of these prefix "can-reach=" or "interface=" Samples: "can-reach={{ groups['master'][0] }}", "interface=eth.*,ens.*"
  ipsec_enabled = false             #When Calico IPSec Mesh is enabled, separate interface is required for management plane and data plane
  subnets       = "10.0.0.0/8"    #Subnets for IPSec Mesh only when ipsec_enabled=true
  cipher_suite  = "aes_gcm_c128"    #For Redhat: aes_gcm_c128, Ubuntu: aes128gcm16!
}
master = {
    nodes       = "1"               #Number of Master Node. Minimum: 1, Maximum: 1 for ICP Community edition
    name        = "master"
    cpu_cores   = "8"
    disk_size   = "100"              #OS Disk size in GB. Recommended to keep default value 25 GB
    kubelet_lv  = "10"              #Size of Kubelet volume
    docker_lv   = "100"              #Size of Docker volume
    etcd_lv     = "10"               #Size of etcd volume
    registry_lv = "29"              #Size of registry volume
    management_lv = "100"           #Size of Management volume
    local_disk  = false
    memory      = "16384"
    network_speed = "1000"
    private_network_only = false
    hourly_billing = true
}
proxy = {
    nodes       = "0"               #Number of Proxy Node. Minimum: 0 Maximum: 1 for ICP Community edition
    name        = "proxy"
    cpu_cores   = "2"
    disk_size   = "100"
    kubelet_lv  = "10"
    docker_lv   = "139"
    local_disk  = false
    memory      = "4096"
    network_speed = "1000"
    private_network_only = false
    hourly_billing = true
}
management = {
    nodes       = "0"               #Number of Management Node. Minimum: 0 Maximum: 1 for ICP Community edition
    name        = "mgmt"
    cpu_cores   = "8"
    disk_size   = "100"
    kubelet_lv  = "10"
    docker_lv   = "100"
    management_lv = "139"            #Size of Management volume
    local_disk  = false
    memory      = "16384"
    network_speed = "1000"
    private_network_only = false
    hourly_billing = true
}
va = {
  nodes                = "0"        #Vulnerability Assessor Node (Enterprise Edition Only). Minimum 0, or 1/3/5
  name                 = "va"
  cpu_cores            = "4"
  disk_size            = "100"
  kubelet_lv           = "10"
  docker_lv            = "100"
  va_lv                = "139"
  local_disk           = false
  memory               = "8192"
  network_speed        = "1000"
  private_network_only = false
  hourly_billing       = true
}
worker = {
    nodes       = "2"               #Number of Worker Node. Minimum: 1 Recommended: 3
    name        = "worker"
    cpu_cores   = "8"
    disk_size   = "100"
    kubelet_lv  = "10"
    docker_lv   = "139"
    local_disk  = false
    memory      = "8192"
    network_speed = "1000"
    private_network_only = false
    hourly_billing = true
}
gluster = {
    nodes       = "3"               #Gluster Node. Minimum 0 or 3 or higher odd number
    name        = "gluster"
    cpu_cores   = "2"
    disk_size   = "25"
    glusterfs   = "100"             #Additional GlusterFS Volume (optional)
    local_disk  = false
    memory      = "2048"
    network_speed = "1000"
    private_network_only = false
    hourly_billing = true
}
nfs = {                            #Required for shared volumes when there are multiple master nodes
  nodes                = "1"
  name                 = "nfs"
  cpu_cores            = "2"
  disk_size            = "25"      // GB
  nfs_lv               = "299"
  local_disk           = false
  memory               = "4096"
  network_speed        = "1000"
  private_network_only = false
  hourly_billing       = true
}

boot = {                          #ICP Installer separate from master node
  nodes                = "1"
  name                 = "boot"
  cpu_cores            = "2"
  disk_size            = "100"      // GB
  local_disk           = false
  memory               = "4096"
  network_speed        = "1000"
  private_network_only = false
  hourly_billing       = true
}

haproxy = {                     #HA proxy load balancer node for multiple master nodes when vip_manager=etcd (default)
  nodes                = "1"
  name                 = "haproxy"
  cpu_cores            = "2"
  disk_size            = "25"      // GB
  local_disk           = false
  memory               = "2048"
  network_speed        = "1000"
  private_network_only = false
  hourly_billing       = true
}

#icp_source_server="x.x.x.x"                    #SFTP Server for Enterprise Edition
#icp_source_user="ftp-user"                     #SFTP Login user
#icp_source_password="ftp-password"             #SFTP Login password
#icp_source_path="path-to-icp-enterprise-file"  #ICP Installer package directory path in SFTP server
#icp_docker_path="path-to-icp-bundled-docker"   #ICP Docker package directory path in SFTP server